.thing {
  color: #2E2E2E;
  color: #FFFFFF;
  color: #E6E1DC;
  color: #d6d6d6;
  color: #404040;
  color: #333435;
  color: #5A647E;
  color: #cc7832;
  color: #797979;
  color: #CC7833;
  color: #a1617a;
  color: #FFC66D;
  color: #FFFFFF;
  color: #b4c973;
  color: #D0D0FF;
  color: #6D9CBE;
  color: #6c99bb;
  color: #b4c973;
  color: #c45837;
  color: #6c99bb;
  color: #b4c973;
  color: #E8BF6A;
  color: #990000;
  color: #FFFFFF;
  color: #a1617a;
  color: #144212;
  color: #E6E1DC;
  color: #660000;
  color: #E6E1DC;
  color: #2F33AB;
  color: #b4c973;
  color: #cc7732;
  color: #cc7732;
  color: #a1617a;
  color: #cc7732;
  color: #e5b567;
  color: #cc7732;
  color: #a1617a;
  color: #90516b;
  color: #b4c973;
  color: #cc7732;
  color: #999999;
  color: #cccccc;
  color: #c45330;
  color: #FFFFFF;
}
